.color-pallette {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  box-sizing: border-box;
  & > div {
    border: 2px solid black;
    width: 16px;
    // width: 100% / 16.0;
    height: 16px;
    line-height: 18px;
    font-size: 8px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: content-box;
    & > span {
      display: none;
      color: white;
      text-shadow: 0px 0px 8px black;
    }
    &:hover {
      outline: 1px solid white;
      span {
        display: block;
      }
    }
    &.primarySelected {
      border-left: 2px solid white;
    }
    &.secondarySelected {
      border-right: 2px solid white;
    }
  }
  & > div.selectedColors {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    height: 20px;
    div.selectedColor {
      width: 40%;
      height: 16px;
      border: 2px solid white;
      margin-bottom: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > .color-index {
        color: white;
        text-shadow: 0px 0px 8px black;
        // mix-blend-mode: difference;
        font-size: 12px;
      }
      & > .color-rgb {
        color: white;
        text-shadow: 0px 0px 8px black;
        // mix-blend-mode: difference;
        font-size: 10px;
      }

      & > span {
        display: block;
        color: white;
        text-shadow: 0px 0px 8px black;
        font-size: 16px;
        line-height: 36px;
      }
    }
    button {
      width: 20%
    }
  }
}

.color-mode-select {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  button {
    width: 30%;
    border-width: 1px;
    padding: 2px;
    &:disabled {
      background-color: black;
      color: white;
    }
  }
}

.color-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  div {
    width: 60px;
    font-size: 0.7em;
  }
  input {
    flex: 1;
  }
}
.color-picker {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-width: 400px;
  .selected-color {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    span {
      background: white;
      margin: 4px;
      padding: 4px;
    }
  }
  .color-swatches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    border: 1px solid black;
    .color-swatch {
      width: 8px;
      height: 8px;
      border-width: 1px;
      border-style: solid;
      &:hover {
        border-color: white!important;
      }
    }
  }
}
