.modal-underlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    .modal {
        background: white;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        min-width: 200px;
        .modal-title {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
        }
        .modal-buttons {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            padding-top: 16px;
            .modal-cancel, .modal-ok {
                border: 2px solid black;
                padding: 4px;
                border-radius: 4px;
                text-align: center;
                color: black;
                font-weight: bold;
                background: white;
                width: 45%;
            }
            .modal-ok {
                padding-right: 16px;
                &:hover {
                    color:white;
                }
            }
            .modal-cancel {
                border-color: #F00;
                color: #F00;
                padding-left: 16px;
                &:hover {
                    color:white;
                }
            }
        }
    }
}